body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.columns-row-between {
  display: flex;
  flex-direction: row;
  justify-content:"center";
}
.hidden-sector{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: darkgrey; 
}
.reveled-sector{
  border-radius: 3;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:white ;
}
.flag{
  font-size: 20;
  color:red
}
.generalButton{
  border-radius: 5;
  background-color: skyblue;
  align-items: center;
  justify-content: center;
}

